# Git
.git
.gitignore

# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
/build
/dist

# IDE / Editors
.vscode
.idea
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db

# Capacitor/Ionic native platform files
/ios
/android
/electron
/capacitor.config.json
/ionic.config.json

# Testing
/coverage

# Misc
*.log
.env*